---
import { Image } from "astro:assets";
import { css } from "../../../../styled-system/css";
import PortfolioImage from "../../../images/portfolio/portfolio.png";

const styles = {
  layout: {
    px: [4, 8, 16],
  },
  figure: {
    display: "flex",
    flexDirection: "column",
    alignItems: "center",
    mx: "auto",
  },
};
---

<div class={css(styles.layout)}>
  <figure class={css(styles.figure)}>
    <Image
      alt="A recursive screenshot showing the 'This Website' card in the 'Projects' section"
      src={PortfolioImage}
      width={500}
    />
    <figcaption>A screenshot of this page</figcaption>
  </figure>
</div>
