---
import { Image } from "astro:assets";
import { css } from "../../../../styled-system/css";
import RrtImage from "../../../images/rrt/rrt.png";

const { firstPosition } = Astro.props;

const styles = {
  layout: {
    pl: firstPosition === "left" ? 0 : [0, 16],
    pr: firstPosition === "right" ? [0, 16] : 0,
  },
  figure: {
    display: "flex",
    flexDirection: "column",
    alignItems: "center",
    mx: "auto",
    "& a": {
      color: "blue.300",
      cursor: "pointer",
      "&:hover": {
        textDecoration: "underline",
      },
      "&:visited": {
        color: "blue.600",
      },
    },
  },
};
---

<div class={css(styles.layout)}>
  <figure class={css(styles.figure)}>
    <a href="react-routing-tabs">
      <Image
        alt="A recursive screenshot showing the 'This Website' card in the 'Projects' section"
        src={RrtImage}
        width={500}
      />
      <figcaption>Click to go to the working demo</figcaption>
    </a>
  </figure>
</div>
