---
import type { GetStaticPaths } from "astro";
import "@fontsource/nunito-sans";
import "../../index.css";
import { css } from "../../../styled-system/css";
import { RrtDemo } from "../../components/RrtDemo";
import { routerConfig } from "../../components/RrtDemo/DemoTabs";
import Head from "../../layouts/Head.astro";

export const getStaticPaths = (() => {
  const tabRoutes = routerConfig.map((route) => route.route);
  return tabRoutes.map((tabRoute) => ({ params: { tab: tabRoute } }));
}) satisfies GetStaticPaths;

const styles = {
  bg: "black",
  color: "white",
  height: "100vh",
  width: "100vw",
  overflow: "hidden",
};
---

<html lang="en">
  <Head
    title="react-routing-tabs Live Demo"
    description="Try this live demo of react-routing-tabs. RRT is an accessible tabs component that route using react-router-dom."
    canonical="https://davidplarsen.com/react-routing-tabs"
  />

  <body>
    <main class={css(styles)}>
      <div class={css({ mx: "auto" })}>
        <RrtDemo client:only />
      </div>
    </main>
  </body>
</html>
