---

---  
<div class="description">
  <p>Initial completion: November 2020</p>

  <p>A peer-to-peer network for renting musical equipment</p>

  <div>
    <p>
      GearPatch is a platform for musicians to make some money on their extra
      equipment by renting it to other musicians. A user can request a rental,
      which is then confirmed by the owner.
    </p>

    <p>
      This was my fullstack capstone for Nashville Software School, right as I
      was starting my software career. The full project was built in roughly
      ten days.
    </p>
  </div>

  <p>SQL, C#/.NET API, React client</p>
</div>

<style>
  .description {
    /* TODO: [12, 16] */
    padding-right: 1rem;
  }
</style>