---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<header>
  <div class=".container">
    <h2 color="primary">
      {title}
    </h2>
  </div>
  <slot />
</header>

<style>
  header {
    /* TODO: responsive w/ 100% @ mobile */
    max-width: 40%;
  }

  /* TODO: global for container, extend rest? */
  .container {
    border-bottom: 1px solid;
    border-color: primary;
    border-radius: 42%;
    /* TODO: spacing theme? */
    padding-bottom: 0.75rem;
    text-align: center;
    width: 20rem;
  }
</style>
