---
import { css } from "../../styled-system/css";

interface Props {
  title: string;
}

const { title } = Astro.props;

const headerStyles = {
  maxWidth: ["100%", "40%"],
};

const containerStyles = {
  borderBottom: "1px solid",
  borderColor: "#08430e" /*primary,*/,
  borderRadius: "42%",
  /* TODO: spacing theme? */
  paddingBottom: "0.75rem",
  textAlign: "center",
  width: "20rem",
};

const headerTextStyles = {
  color: "#08430e",
};
---

<header class={css(headerStyles)}>
  <div class={css(containerStyles)}>
    <h2 class={css(headerTextStyles)}>
      {title}
    </h2>
  </div>
  <slot />
</header>
