---
import { css } from "../../styled-system/css";

const styles = {
  background: "linear-gradient(to right bottom, #ffffff 20%, #a2af9f)",
  height: "100%",
  minHeight: "100vh",
  paddingBottom: "3rem",
  width: "100vw",
};
---

<main class={css(styles)}>
  <slot />
</main>
