---
interface Props {
  id?: string;
}

const { id } = Astro.props;
---

<section id={id}>
  <slot />
</section>

<style>
  section {
    height: 100%;
    min-height: 100vh;
    position: relative;
    padding-top: 1rem;
    /* TODO: [0, 16] */
    padding-left: 1rem;
    width: 100vw;
  }
</style>
);
