---
import Header from "../../layouts/Header.astro";
import Section from "../../layouts/Section.astro";
import { css } from "../../../styled-system/css";
import Project from "../../layouts/Project.astro";
import { type ProjectFrontmatter } from "../../layouts/ProjectDescriptionMD.astro";

const styles = {
  mx: "auto",
  width: "100%",
};

const projectData = await Astro.glob<ProjectFrontmatter>(
  "../../content/projects/*.md"
);
---

<Section id="projects">
  <Header title="Projects" />

  <article class={css(styles)}>
    {
      projectData.map((project, index) => {
        const { Content } = project;
        return (
          <Project
            demoFirst={index % 2 === 1}
            links={project.frontmatter.links}
            title={project.frontmatter.title}
          >
            <Content slot="description" />
          </Project>
        );
      })
    }
  </article>
</Section>
