---
import Header from "../../layouts/Header.astro";
import Section from "../../layouts/Section.astro";
import { css } from "../../../styled-system/css";
import Project from "../../layouts/Project.astro";
import { projectData } from "./projectData";

const styles = {
  mx: "auto",
  width: "100%",
};
---

<Section id="projects">
  <Header title="Projects" />

  <article class={css(styles)}>
    {
      projectData.map((project, index) => (
        <Project
          demoFirst={index % 2 === 1}
          links={project.links}
          title={project.title}
        >
          <project.Description slot="description" />
        </Project>
      ))
    }
  </article>
</Section>
