---
import Header from "../../layouts/Header.astro";
import Section from "../../layouts/Section.astro";
import { css } from "../../../styled-system/css";
import Project from "../../layouts/Project.astro";
import { type ProjectFrontmatter } from "../../layouts/ProjectDescription.astro";
import { demoMap } from "./Demos/demoMap";

const styles = {
  header: {
    paddingY: 0,
    paddingX: "0.25rem",
    marginTop: "1rem",
    width: "20rem",
    maxWidth: "prose",
    mx: "auto",
  },
  projectList: {
    mx: "auto",
    width: "100%",
  },
};

const projectData = await Astro.glob<ProjectFrontmatter>(
  "../../content/projects/*.md"
);

projectData.sort((a, b) => {
  if (a.frontmatter.lastUpdatedDate === b.frontmatter.lastUpdatedDate) return 0;
  return a.frontmatter.lastUpdatedDate > b.frontmatter.lastUpdatedDate ? -1 : 1;
});
---

<Section id="projects">
  <Header title="Projects">
    <div class={css(styles.header)}>
      <p>I don't get a lot of time nowadasy to build</p>
      <p>projects outside of my day job, and</p>
      <p>and I consider myself an engineer far</p>
      <p>more than I consider myself a designer,</p>
      <p>but here are some of the things I have built.</p>
    </div>
  </Header>

  <div class={css(styles.projectList)}>
    {
      projectData.map((project, index) => {
        const { Content } = project;
        const Demo = demoMap[project.frontmatter.id];
        return (
          <Project
            demoFirst={index % 2 === 1}
            links={project.frontmatter.links}
            title={project.frontmatter.title}
          >
            <Content slot="description" />

            {Demo ? (
              <Demo
                slot="demo"
                firstPosition={index % 2 === 0 ? "left" : "right"}
              />
            ) : null}
          </Project>
        );
      })
    }
  </div>
</Section>
k
