---
import { css } from "../../../../styled-system/css";
import BioBlock from "../BioBlock/BioBlock.astro";

const styles = {
  background: "rgb(235, 250, 255, 0.5)",
  borderRadius: "5%",
  marginTop: 12,
  mx: ["auto", 0],
  padding: 8,
  width: "90%",
};
---

<div class={css(styles)}>
  <BioBlock>
    <p>Hi. I'm David.</p>
  </BioBlock>

  <BioBlock>
    <p>
      I am a fullstack developer with over 4 years' experience developing
      professional applications utilizing JavaScript/Typescript frameworks.
    </p>
  </BioBlock>

  <BioBlock>
    <p>
      I have extensive experience using React for frontend development, along
      with a variety of styling frameworks. I also have experience developing
      backends in Node/Express, with a tiny bit of C#/.NET experience. I have
      utilized SQL and NoSQL databases, particularly through PostgreSQL and
      MongoDB.
    </p>
  </BioBlock>

  <BioBlock>
    <p>
      Before I was a developer, I split time between IT Support and professional
      music, including 5 years pursuing music full-time. Support gave me a
      superb troubleshooting and problem solving skills. Music gave me the
      creative itch to move beyond support into development.
    </p>
  </BioBlock>

  <BioBlock>
    <p>
      I also love to disconnect with a good book or by getting outdoors or
      playing with my golden retriever. Actually, he insists on playing.
    </p>
  </BioBlock>

  <BioBlock>
    <p>
      This site was made using Astro and React. Select components were imported
      from Radix. PandaCSS provides the styling system and theming.
    </p>
  </BioBlock>
</div>

<style>
  .about {
    /* background="background.transparent" */
    border-radius: 5%;
    margin-top: 3rem;
    /* TODO: mx: [auto, 0] */
    margin-bottom: 0;
    padding: 2rem;
    width: 90%;
  }
</style>
);
