---

---

<>
  <p>Initial completion: July 2024</p>

  <p>Last update: July 2024</p>

  <p>My personal developer portfolio site</p>

  <div>
    <p>
      Pretty self-explanatory, since you're looking at it! After having a
      templated site that I left untouched for several years, I needed an
      update. I also wanted something that was easy-to-maintain, while utilizing
      elements of the tech stack I most worked with (React).
    </p>

    <p>
      While I am not a designer, I had a couple ideas for interactive elements I
      wanted to include. Mainly, these included the main navigation "bubble" on
      the landing, as well as the expandable headers in the interactive resume
      and Projects sections.
    </p>
  </div>

  <p>Tech: Astro, React, Radix, PandaCSS</p>
</>
