---
import Header from "../../layouts/Header.astro";
import Section from "../../layouts/Section.astro";
import ExpandableChip from "../ExpandableChip";
import Barkeep from "./Barkeep/Barkeep.astro";
import ReactRoutingTabs from "./ReactRoutingTabs/ReactRoutingTabs.astro";
import GearPatch from "./GearPatch/GearPath.astro";
import Greener from "./Greener/Greener.astro";
---

<Section id="projects">
  <Header title="Projects" />

  <article>
    <ExpandableChip name="React Routing Tabs">
      <ReactRoutingTabs />
    </ExpandableChip>

    <ExpandableChip name="Barkeep">
      <Barkeep />
    </ExpandableChip>

    <ExpandableChip name="GearPatch">
      <GearPatch />
    </ExpandableChip>

    <ExpandableChip name="Greener">
      <Greener />
    </ExpandableChip>
  </article>
</Section>

<style>
  article {
    margin: 0 auto;
    width: 100%;
  }
</style>
