---
import Header from "../../layouts/Header.astro";
import Section from "../../layouts/Section.astro";
import ExpandableChip from "../ExpandableChip";
import Barkeep from "./Barkeep/Barkeep.astro";
import ReactRoutingTabs from "./ReactRoutingTabs/ReactRoutingTabs.astro";
import GearPatch from "./GearPatch/GearPath.astro";
import Greener from "./Greener/Greener.astro";
import { css } from "../../../styled-system/css";

const styles = {
  mx: "auto",
  width: "100%",
};
---

<Section id="projects">
  <Header title="Projects" />

  <article class={css(styles)}>
    <ExpandableChip client:visible name="React Routing Tabs">
      <ReactRoutingTabs />
    </ExpandableChip>

    <ExpandableChip client:visible name="Barkeep">
      <Barkeep />
    </ExpandableChip>

    <ExpandableChip client:visible name="GearPatch">
      <GearPatch />
    </ExpandableChip>

    <ExpandableChip client:visible name="Greener">
      <Greener />
    </ExpandableChip>
  </article>
</Section>
