---
import { css } from "../../../styled-system/css";
import Header from "../../layouts/Header.astro";
import Section from "../../layouts/Section.astro";
import Bio from "./Bio/Bio.astro";
import AboutLinks from "./Links/AboutLinks.astro";

const styles = {
  display: "grid",
  gridTemplateColumns: [1, 2],
  marginTop: 12,
};
---

<Section id="about">
  <Header title="About" />

  <div class={css(styles)}>
    <AboutLinks />

    <Bio />
  </div>
</Section>
