---
import "@fontsource/nunito-sans";
import "../index.css";
import { css } from "../../styled-system/css";
import { RrtDemo } from "../components/RrtDemo";
---

<main
  class={css({
    bg: "black",
    color: "white",
    height: "100vh",
    width: "100vw",
    overflow: "hidden",
  })}
>
  <div class={css({ mx: "auto" })}>
    <RrtDemo client:only />
  </div>
</main>
