---

---

<div>
  <p>Initial completion: May 2024</p>
  <p>An open-source tab library of my creation</p>
  <div>
    <p>
      Creating tabs for your router is easy. Making them meet WAI-ARIA
      accessibility standards is not.
    </p>
    <p>
      Lots of tab libraries give you accessible tabs. Connecting them to your
      router, though, means jumping through lots of hoops.
    </p>
    <p>
      React Routing Tabs gives you accessible tabs that connect to your router
      with minimal effort.
    </p>
  </div>
</div>

<style>
  .description {
    /* TODO: [12, 16] */
    padding-right: 4rem;
  }
</style>
