---
import { css } from "../../../../styled-system/css";
import Header from "../../../layouts/Header.astro";

const styles = {
  paddingY: 0,
  paddingX: "0.25rem",
  marginTop: "1rem",
  width: "20rem",
};
---

<Header title="David P Larsen">
  <!-- TODO: container, styles -->
  <article class={css(styles)}>
    <p>Software developer. I connect users to data</p>
    <p>through robust APIs and</p>
    <p>intuitive interfaces.</p>
  </article>
</Header>

<style>
  .intro {
    padding: 0 0.25rem 0 0.25rem;
    margin-top: 1rem;
    width: 20rem;
  }
</style>
