---
import Header from "../../../layouts/Header.astro";
---

<Header title="David P Larsen">
  <article class:list={["container", "intro"]}>
    <p>Software developer. I connect users to data</p>
    <p>through robust APIs and</p>
    <p>intuitive interfaces.</p>
  </article>
</Header>

<style>
  .intro {
    padding: 0 0.25rem 0 0.25rem;
    margin-top: 1rem;
    width: 20rem;
  }
</style>
