---
import Section from "../../layouts/Section.astro";
import { Intro } from "./Intro";
import { NavBubble } from "./NavBubble";
---

<Section>
  <Intro />

  <NavBubble position="absolute" bottom="-50%" right={0} />
</Section>
