---
import RrtDescription from "./RrtDescription.astro";
import ProjectLinks, {
  type ProjectLink,
} from "../ProjectLinks/ProjectLinks.astro";
import { css } from "../../../../styled-system/css";

const rrtLinks: ProjectLink[] = [
  {
    name: "React Routing Tabs",
    url: "https://www.npmjs.com/package/react-routing-tabs",
    type: "npm",
  },
  {
    name: "React Routing Tabs",
    url: "https://github.com/dLars99/react-routing-tabs",
    type: "github",
  },
];

const styles = {
  display: "grid",
  gridTemplateColumns: [1, 2],
};
---

<div>
  <ProjectLinks links={rrtLinks} />

  <div class={css(styles)}>
    <div>Demo</div>

    <RrtDescription />
  </div>
</div>
