---
import { css } from "../../../../styled-system/css";

const styles = {
  width: "100%",
  mx: "auto",
  maxWidth: "prose",
  px: 4,
  mb: 4,
};
---

<div class={css(styles)}>
  <p>
    <slot />
  </p>
</div>
