---
import { css } from "../../../../styled-system/css";

const styles = {
  pr: ["3rem", "4rem"],
};
---

<div class={css(styles)}>
  <p>Initial completion: August 2020</p>

  <p>Helping you grow a greener lawn</p>

  <div>
    <p>
      Greener is designed for personal use for individuals who want to keep
      better track of their lawn care. Features include:
    </p>

    <ul class={css({ listStyleType: "disc", marginInlineStart: "1em" })}>
      <li>Log for tracking lawn care chores</li>

      <li>Fully-automated schedule of seasonal tasks with reminders</li>

      <li>Weather data and alerts</li>

      <li>Precipitation monitoring to let the user know if water is needed</li>

      <li>Tips and tricks for a greener lawn</li>
    </ul>

    <p>
      This was my frontend capstone at Nashville Software School. The full
      application was built with a mobile-first design in about two weeks.
    </p>
  </div>

  <p>Tech: React, Javascript, vanilla CSS</p>
</div>
