---
import { css, cva } from "../../styled-system/css";
import "@fontsource/nunito-sans";

interface Props {
  color?: "dark" | "light";
  title: string;
}

const { color = "dark", title } = Astro.props;

const header = cva({
  base: {
    maxWidth: ["100%", "40%"],
  },
  variants: {
    color: {
      dark: {
        color: "primary",
      },
      light: {
        color: "blue.100",
      },
    },
  },
});

const styles = {
  container: {
    color: color,
    borderBottom: `1px solid`,
    borderRadius: "42%",
    paddingBottom: 3,
    mx: "auto",
    textAlign: "center",
    width: 80,
    maxWidth: "prose",
  },
  text: {
    textStyle: "h2",
  },
};
---

<header class={header({ color })}>
  <div class={css(styles.container)}>
    <h2 class={css(styles.text)}>
      {title}
    </h2>
  </div>
  <slot />
</header>
