---
import { css } from "../../styled-system/css";

interface Props {
  position: "left" | "right";
}

const { position } = Astro.props;
const styles = {
  column: {
    pr: position === "left" ? [0, "4rem"] : 0,
    pl: position === "right" ? [0, 16] : 0,
  },
  sheet: {
    backgroundColor: "rgba(255, 255, 255, 0.36)",
    borderRadius: "5%",
    width: "100%",
    mx: "auto",
    maxWidth: "60ch",
    px: [12, 16],
    padding: 6,
  },
};
---

<div class={css(styles.column)}>
  <div class={css(styles.sheet)}>
    <slot />
  </div>
</div>
