---
import { css, cva } from "../../styled-system/css";
import { token, type Token } from "../../styled-system/tokens";

interface Props {
  background?: "none" | "contrast";
  id?: string;
  hideOutOfBounds?: boolean;
}

const { background = "none", id, hideOutOfBounds = false } = Astro.props;

const section = cva({
  base: {
    height: "100%",
    minHeight: "100vh",
    position: "relative",
    paddingTop: 16,
    paddingLeft: [0, 16],
    width: "100%",
  },
  variants: {
    background: {
      none: {
        background: "transparent",
      },
      contrast: {
        bg: "blue.600",
      },
    },
    overflow: {
      hidden: {
        maxHeight: ["100vh", "100%"],
        overflowY: ["hidden", "visible"],
      },
      visible: {
        maxHeight: "100%",
        overflowY: "visible",
      },
    },
  },
  defaultVariants: {
    background: "none",
    overflow: "visible",
  },
});
---

<section
  class={section({
    background,
    overflow: hideOutOfBounds ? "hidden" : "visible",
  })}
  id={id}
>
  <slot />
</section>
