---
import { css } from "../../styled-system/css";

interface Props {
  id?: string;
  hideOutOfBounds?: boolean;
}

const { id, hideOutOfBounds = false } = Astro.props;

const styles = {
  height: "100%",
  minHeight: "100vh",
  position: "relative",
  paddingTop: 16,
  paddingLeft: [0, 16],
  width: "100%",
  maxHeight: hideOutOfBounds ? ["100vh", "100%"] : "100%",
  overflowY: hideOutOfBounds ? ["hidden", "visible"] : "visible",
};
---

<section class={css(styles)} id={id}>
  <slot />
</section>
